<div class="breadcrumbs">
  <ul>
    {{#trail}}
      <li data-test="crumb">
        {{#link}}
          <a data-test="title" href="{{ basePath }}{{ link }} ">{{ title }}</a>
        {{/link}}
        {{^link}}
          <span data-test="title">{{ title }}</span>
        {{/link}}
      </li>
    {{/trail}}
  </ul>
</div>
