@import '_govuk-elements';
@import './_colors';


/*Search page*/

.search-result {
  padding-bottom: $gutter;
}

.search-result-excerpt {
  margin-top: 0;
  margin-bottom: 0;
}

//.search-result-category {
//  display: inline-block;
//  margin: 0 $gutter-half 0 0;
//  @include core-16;
//  a {
//    text-decoration: none;
//
//    &:hover, &:focus {
//      color: $link-colour;
//      text-decoration: underline;
//    }
//  }
//}

.search-result-title {
  a {
    @include bold-24();
    text-decoration: none;

    &:hover, &:focus {
      color: $link-colour;
      text-decoration: underline;
    }
  }
}

.search-summary {
  @include core-19;
  margin-bottom: $gutter;

  strong {
    @include bold-19;
  }

  .search-summary-count {
    @include bold-48;
    padding-right: $gutter-one-quarter;

  }
}

/* reference https://github.com/alphagov/static/blob/9e8795b262c948a65b798029864cbe04f193262a/app/assets/stylesheets/govuk-component/_option-select.scss */

.govuk-option-select {
  background-color: $grey-3;
  padding: 5px;
  margin-bottom: $gutter-half;

  /* reference https://github.com/alphagov/digitalmarketplace-frontend-toolkit/blob/73678293a4476d75cee9cdb55e4bd859c30af22a/toolkit/scss/forms/_keyword-search.scss */
  &.filter-field-text, &.link-select {

    .js-enabled & {
      /* This is required because we want padding around the search box but it gets overridden by a style from _option_select.scss */
      padding: 5px;
    }

    /* Mostly gotten from: https://github.com/alphagov/static/blob/bb2e0b052c15e5cfc58a0dca3a34bd4cc5caed46/app/assets/stylesheets/helpers/_header.scss#L102 */

    input[type="search"], ul {
      @include core-16;
      @include box-sizing(border-box);
      position: relative;
      padding: $gutter-one-quarter;
      width: 100%;
      border: 1px solid $border-colour;
      -webkit-appearance: none;
      border-radius: 0;

      &.focus,
      &:focus {
        outline-offset: -2px;
      }
    }
    margin-bottom: 30px;
  }
}

.govuk-option-select.link-select {
  ul {
    padding: 0;
    a {
      color: inherit; /* blue colors for links too */
      text-decoration: inherit; /* no underline */
    }
    li {
      &:hover {
        background-color: rgb(248, 248, 248);
      }
      position: relative;
      background-color: white;
      font-size: 19px;
      border-bottom: 1px solid #bfc1c3;
      padding: 11px 10px 7px 20px;
      cursor: pointer;
    }
  }
}

.container-head {
  padding: 0 5px;
}

.option-select-label {
  @include bold-19;
  margin-right: $gutter;
  padding-top: 5px;
}

#search-form {
  .button {
    @include core-19;
    padding: 6px em(15) 5px em(15);
    margin-left: -4px;

    @include media (mobile) {
      margin-top: $gutter-half;
      margin-left: 0;
      width: 100%;
    }
  }
}

/*Details page*/

.heading-secondary a {
  color: $secondary-text-colour;
  text-decoration: none;
  
  &:hover, &:focus {
    text-decoration: underline;
  }
}

pre {
  background-color: $panel-colour;
  padding: $gutter;
  white-space: pre-wrap;
  margin-bottom: $gutter-half;
}

.copy-journal-message .toggle-switch {
  display: none;
}

.alert {
  border-color: $light-blue;
  background-color: lighten($light-blue, 47%);
}

body.js-enabled .copy-journal-message .toggle-switch {

  display: block;

  &.toggled-once {
    .alert {
      display: block;
    }
  }
  .alert {
    display: none;
  }

  &.toggle {
    .toggle-on-text {
      display: inline;
    }
    .toggle-off-text {
      display: none;
    }
  }

  .toggle-on-text {
    display: none;
  }
  .toggle-off-text {
    display: inline;
  }

}

/*Dashboard page*/
.categories-list .heading-medium {
    margin: $gutter-half 0 0 0;
}

.feature-section {
  padding: $gutter-one-third 0 $gutter-one-third 0;
  height: 150px;
}

.feature-section .thumbnail {
  display: block;
  float: left;
  margin-right: $gutter-two-thirds;
  outline: 5px solid $outline-shadow-1;
  -webkit-box-shadow: 0 2px 2px $outline-shadow-2;
  -moz-box-shadow: 0 2px 2px $outline-shadow-2;
  box-shadow: 0 2px 2px $outline-shadow-2;
}

