@import '_govuk-elements';

.search-result {
  padding-bottom: $gutter;
}

.search-result-excerpt {
  margin-top: 0;
  margin-bottom: 0;
}

.search-result-category {
  display: inline-block;
  margin: 0 $gutter-half 0 0;
  a {
    text-decoration: none;

    &:hover, &:focus {
      color: $link-colour;
      text-decoration: underline;
    }
  }
}

.search-result-title {
  a {
    @include bold-24();
    text-decoration: none;

    &:hover, &:focus {
      color: $link-colour;
      text-decoration: underline;
    }
  }
}

.search-summary {
  @include core-19;
  border-bottom: 1px solid $border-colour;


  strong {
    @include bold-19;
  }

  .search-summary-count {
    @include bold-48;
    padding-right: 6px;

    @include media(tablet) {
      padding-right: 10px;
    }
  }
}
