@import '_govuk-elements';

.search-result {
  padding-bottom: $gutter-half;
}

.search-result-excerpt {
  margin-top: 0;
  margin-bottom: 0;
}

.search-result-category {
  display: inline-block;
  margin: 0 $gutter-half 0 0;
  a {
    text-decoration: none;

    &:hover, &:focus {
      color: $link-colour;
      text-decoration: underline;
    }
  }
}

.search-result-title {
  a {
    @include bold-24();
    text-decoration: none;

    &:hover, &:focus {
      color: $link-colour;
      text-decoration: underline;
    }
  }
}

.search-summary {
  @include core-19;
  margin-bottom: $gutter;

  strong {
    @include bold-19;
  }

  .search-summary-count {
    @include bold-48;
    padding-right: $gutter-one-quarter;

  }
}

/* reference https://github.com/alphagov/static/blob/9e8795b262c948a65b798029864cbe04f193262a/app/assets/stylesheets/govuk-component/_option-select.scss */

.govuk-option-select {
  background-color: $grey-3;
  padding: 5px;
  margin-bottom: $gutter-half;

  /* reference https://github.com/alphagov/digitalmarketplace-frontend-toolkit/blob/73678293a4476d75cee9cdb55e4bd859c30af22a/toolkit/scss/forms/_keyword-search.scss */
  &.filter-field-text {

    .js-enabled & {
      /* This is required because we want padding around the search box but it gets overridden by a style from _option_select.scss */
      padding: 5px;
    }

    /* Mostly gotten from: https://github.com/alphagov/static/blob/bb2e0b052c15e5cfc58a0dca3a34bd4cc5caed46/app/assets/stylesheets/helpers/_header.scss#L102 */

    input[type="search"] {
      @include core-16;
      @include box-sizing(border-box);
      position: relative;
      padding: $gutter-one-quarter;
      width: 100%;
      border: 1px solid $border-colour;
      -webkit-appearance: none;
      border-radius: 0;

      &.focus,
      &:focus {
        outline-offset: -2px;
      }
    }
  }
}

.container-head {
  padding: 0 5px;
}

.option-select-label {
  @include bold-19;
  margin-right: $gutter;
  padding-top: 5px;
}

