{{<layout}}
  {{$pageTitle}}{{#__}}dashboard.pageTitle{{/__}}{{/pageTitle}}
  {{$applicationContent}}
    <h2 class="heading-xlarge" data-test="header">{{#__}}dashboard.header{{/__}}</h2>

    <a href="{{baseUrl}}/search" class="button">Search</a> <!--temporary link-->
  {{/applicationContent}}

{{/layout}}
