{{<layout}}
  {{$pageTitle}}{{#__}}dashboard.pageTitle{{/__}}{{/pageTitle}}
  {{$applicationContent}}
    <h1 class="heading-xlarge" data-test="header">{{#__}}dashboard.header{{/__}}</h1>
    <p class="lede">{{#__}}dashboard.summary{{/__}}</p>

    <form action="{{ basePath }}/search" method="GET" id="search-form">
      <div class="form-group">
        <input type="search" name="search" id="search" class="form-control" value=""
               data-test="search-input">
        <input type="submit" class="button" value="Search" data-test="search-button">
      </div>
    </form>

    <h2 class="heading-small">{{#__}}dashboard.categories.heading{{/__}}</h2>
    <div class="categories-list">
      <div class="grid-row">

        {{#categoryListRow1}}
          <div class="column-one-third" data-test="category">
            <h3 class="heading-medium">
              <a href="{{ basePath }}/search?search={{ uriEncodedTitle }}" data-test="category-link">
                {{ title }} BLAH BLAH</a>
            </h3>
            <p data-test="category-summary">{{ summary }}</p>
          </div>
        {{/categoryListRow1}}

      </div>
      <div class="grid-row">

      {{#categoryListRow2}}
        <div class="column-one-third" data-test="category">
          <h3 class="heading-medium">
            <a href="{{ basePath }}/search?search={{ uriEncodedTitle }}" data-test="category-link">
              {{ title }}</a>
          </h3>
          <p data-test="category-summary">{{ summary }}</p>
        </div>
      {{/categoryListRow2}}

      </div>
    </div>

    <h2 class="heading-small" data-test="featured-header">{{featured.heading}}</h2>

    <div class="feature-section">
      <div class="thumbnail">
        <a href="{{ basePath }}/resources/{{featured.resourceId}}">
          <img src="{{ basePath }}/images/screens/{{featured.resourceId}}-small.png">
        </a>
      </div>

      <div class="details">
        <h3>
          <a href="{{ basePath }}/resources/{{featured.resourceId}}"
             data-test="featured-resource-link">{{featured.resourceLinkText}}</a>
        </h3>
        <p>{{featured.resourceSummary}}</p>
      </div>
    </div>

    <h2 class="heading-small">{{#__}}dashboard.edit.heading{{/__}}</h2>
    <a href="{{#__}}dashboard.edit.mailto{{/__}}">{{#__}}dashboard.edit.text{{/__}}</a>
  {{/applicationContent}}

{{/layout}}
