{{<layout}}
  {{$pageTitle}}{{#__}}dashboard.pageTitle{{/__}}{{/pageTitle}}
  {{$applicationContent}}
    <h2 class="heading-xlarge" data-test="header">{{#__}}dashboard.header{{/__}}</h2>

    <a href="{{basePath}}/search" class="button">Search</a> <!--temporary link-->

    <h4 class="heading-small">{{#__}}dashboard.categories.heading{{/__}}</h4>
    <div class="grid-row">

      {{#categoryList}}
        <div class="column-one-third" data-test="category">
          <h3 class="heading-medium">
            <a href="{{ basePath }}/search?search={{ uriEncodedTitle }}" data-test="category-link">
              {{ title }}</a>
          </h3>
          <p data-test="category-summary">{{ summary }}</p>
        </div>
      {{/categoryList}}

    </div>

    <h4 class="heading-small">{{#__}}dashboard.featured.heading{{/__}}</h4>
    <h3 class="heading-medium">
      <a href="{{#__}}dashboard.featured.resourceLink{{/__}}">
        {{#__}}dashboard.featured.resourceLinkText{{/__}}</a>
    </h3>
    <p>{{#__}}dashboard.featured.resourceSummary{{/__}}</p>

    <h4 class="heading-small">{{#__}}dashboard.edit.heading{{/__}}</h4>
    <a href="{{#__}}dashboard.edit.mailto{{/__}}">{{#__}}dashboard.edit.text{{/__}}</a>
  {{/applicationContent}}

{{/layout}}
