{{<layout}}
    {{$pageTitle}}{{#__}}detail.pageTitle{{/__}}{{/pageTitle}}
    {{$applicationContent}}
        {{#resource}}
            <a href="/search?search={{ category.0 }}" data-test="category">{{ category.0 }}</a>
            <h2 class="heading-xlarge" data-test="header">{{ title }}</h2>
            <p class="description text" data-test="summary">{{ summary }}</p>
            <h3>{{#__}}detail.howToUseIt.header{{/__}}</h3>
            <p>{{#__}}detail.howToUseIt.description{{/__}}:</p>
            <pre data-test="journal-message">{{ journalMessage }}</pre>
            <a href="{{ url }}" data-test="link">{{#__}}detail.linkText{{/__}}</a>
        {{/resource}}
    {{/applicationContent}}
{{/layout}}
