{{<layout}}
    {{$pageTitle}}{{#__}}detail.pageTitle{{/__}}{{/pageTitle}}
    {{$applicationContent}}
        {{#resource}}
          <header class="page-header">
              <h1 class="heading-large">
                  <span class="heading-secondary">
                        <a href="{{ basePath }}/search?search={{ category.0 }}"
                           data-test="category">{{ category.0 }}</a>
                  </span>
                        <div data-test="header">{{ title }}</div>
              </h1>
          </header>
          <p class="lede text" data-test="summary">{{ summary }}</p>
          <h2 class="heading-medium text">{{#__}}detail.howToUseIt.header{{/__}}</h2>
          <p class="text">{{#__}}detail.howToUseIt.description{{/__}}:</p>
          <div class="grid-row">
            <div class="column-two-thirds">
              <div class="form-group">
                <pre data-test="journal-message">{{ journalMessage }}</pre>
                <a class="copy-clipboard-link" href="#copy-clipboard"
                   data-clipboard-text="{{ journalMessage }}"
                   data-test="copy-clipboard-journal-link">
                  {{#__}}detail.copyJournalMessage{{/__}}</a>
              </div>
            </div>
          </div>
          <a href="{{ url }}" class="button button-get-started" data-test="link">
            {{#__}}detail.linkText{{/__}}</a>
        {{/resource}}
    {{/applicationContent}}
{{/layout}}
