{{<layout}}
  {{$pageTitle}}{{#__}}find.pageTitle{{/__}}{{/pageTitle}}
  {{$applicationContent}}
    <h2 class="heading-xlarge" data-test="header">{{#__}}find.header{{/__}}</h2>
  {{/applicationContent}}

{{/layout}}
