{{<layout}}

  {{$applicationContent}}
    <h1>{{ article.title }}</h1>
    <div>
      {{{article.contents}}}
    </div>
    <ul>
      {{#article.labels}}
        <li class="button">{{.}}</li>
      {{/article.labels}}
    </ul>

  {{/applicationContent}}

{{/layout}}
