{{<layout}}
{{$pageTitle}}{{#__}}search.pageTitle{{/__}}{{/pageTitle}}
{{$applicationContent}}

<h2 class="heading-xlarge" data-test="header">{{#__}}search.header{{/__}}</h2>
<div class="grid-row">
  <section class="column-one-third search-page-filters" aria-label="{{#__}}search.searchSectionAria{{/__}}">
    <form action="{{basePath}}/search" method="get">

      <div class="govuk-option-select filter-field-text">
        <div class="container-head">
          <label class="option-select-label" for="keywords">
            {{#__}}search.searchButtonLabel{{/__}}
          </label>
        </div>
        <input type="search" name="search" id="keywords" value="{{ search }}" maxlength="200" data-test="search-input">
      </div>
      <div class="form-group">
        <button class="button" type="submit" data-test="search-button">{{#__}}search.searchButton{{/__}}</button>
      </div>
    </form>
  </section>
  <section class="column-two-thirds" aria-label="{{#__}}search.resultsSectionAria{{/__}}">

    <p class="search-summary" data-test="search-summary">
      <span class="search-summary-count">{{resourceList.length}}</span> {{resultsSummaryCopy}} <strong>{{ search }}</strong>
    </p>

    {{#resourceList}}
      <div class="search-result" data-test="resource">
        <h2 class="search-result-title" data-test="title">
          <a href="{{ basePath }}/resources/{{ resourceId }}?fromSearch={{search}}" data-test="resource-{{resourceId}}">
            {{ title }}
          </a>
        </h2>
        <p class="search-result-excerpt" data-test="summary">
          {{summary}}
        </p>
        <ul aria-label="tags" class="search-result-metadata">
          {{#categories}}
            <li class="search-result-category" data-test="category">
              <a href="{{ basePath }}/search?search={{ categoryEncoded }}" data-test="category-link">{{ category }}</a>
            </li>
          {{/categories}}

        </ul>
      </div>
    {{/resourceList}}
  </section>
</div>

{{/applicationContent}}

{{/layout}}
