{{<govukTemplate}}

  {{$head}}
    {{#layoutAssets.css}}
      <link href="{{{.}}}" media="screen" rel="stylesheet" type="text/css"/>
    {{/layoutAssets.css}}
  {{/head}}

  {{$cookieMessage}}
    <p>{{#__}}cookie.pretext{{/__}}. <a href="{{ basePath }}/cookie">{{#__}}cookie.linktext{{/__}}</a></p>
  {{/cookieMessage}}

  {{$bodyStart}}
  {{>googleTagManager}}
  {{/bodyStart}}

  {{$headerClass}}with-proposition{{/headerClass}}

  {{$propositionHeader}}
    <div class="header-proposition">
      <div class="content">
        <div id="proposition-menu">
          <a href="{{ basePath }}/" id="proposition-name" data-test="homepage-link">{{#__}}layout.header{{/__}}</a>
        </div>
      </div>
    </div>
  {{/propositionHeader}}

  {{$content}}
    <main id="content">
      {{>breadcrumb}}
      {{$applicationContent}}{{/applicationContent}}
    </main>
  {{/content}}

  {{$bodyEnd}}
    {{#layoutAssets.js}}
      <script type="text/javascript" src="{{{.}}}"></script>
    {{/layoutAssets.js}}
  {{/bodyEnd}}

{{/govukTemplate}}
